{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
<style>
    code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: 'Courier New';
    line-height: 1.6;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
</style>
{% endblock %}

{% block content %}
<h2>spawnSanityCheck Plugin</h2>
<strong>Topics</strong><br>
<ul>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#setup">Setup</a></li>
</ul>
<h3 id="introduction">Introduction</h3>
This very simple plugin will touch a file called $origin.active in the folder you configured as files-folder in MAD (default: files/ inside your MAD folder) for every device that currently has RGC connected to MAD.
Thus, you can identify a devices RGC connection status by looking at the last-modified time of the corresponding .active file.<br />
This differs from the info you can get from the MADmin status page, as the status page only denotes the last time of successful data transmission from PogoDroid.<br /><br />
In another file called $origin.ips, it will store internal and external IPs of your devices separated by a comma.<br /><br />

<h3 id="setup">Setup</h3>
The plugin should work out of the box. In the plugin.ini file, you can set the check interval in seconds and disable the logline showing all "touched" device-files with the time of the last data from RGC.
Either mode can be disabled by setting the corresponding interval to 0.
You can add a new section - where the name of the section is the status-name you set in MADs config - to configure the following values per instance (showing the default values):
<code>
    [settings]<br />
    activityinterval = 60<br />
    ipinterval = 1800<br />
    successlog = True<br />
    iplog = False<br />
</code><br /><br />
{% endblock %}
